@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    background-color: #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.header-title {
    font-size: 40px;
    color: white;
}

.game-status {
    text-align: center;
}

.title {
    display: flex;
    justify-content: space-around;
}

.gameboard {
    display: flex;
    justify-content: space-around;
}

.player-gameboard,
.ai-gameboard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 0;
}

.cell {
    border: 1px solid black;
}

.cell:hover {
    cursor: pointer;
}